// Conda Envs
params.asap = "/home/paynea/miniforge3/envs/asap2025e"
params.harbor = "/home/paynea/miniforge3/envs/harbor-new"
params.drugforge = "/home/paynea/miniforge3/envs/drugforge"

// process execution configurations
process {
    withLabel: 'local' {
        executor = 'local'
    }
    withLabel:'cpushort' {
        executor = 'slurm'
        clusterOptions = '--partition "cpushort"'
    }
    withlabel:'figure' {
        executor = 'slurm'
        clusterOptions = '--partition "cpushort"'
    }
}
executor {
    name = 'slurm'
    queueSize = 500
}
process.clusterOptions = '--partition "cpu"'

conda.enabled = true
conda.useMamba = true
report.overwrite = true
workflow.failOnIgnore = true

// core paths
params.repoPath = "/data1/choderaj/paynea/asapdiscovery-sars-retrospective/"
params.projectDir = "${params.repoPath}/science/20250604_p_and_x_full_cross_dock_v2"
params.dataPath = "/data1/choderaj/paynea/asap-datasets/full_cross_dock_v2"

// docking params
params.loopDB = "/data1/choderaj/asap-playground/rcsb_spruce.loop_db"
params.curatedFragalysis = "${params.dataPath}/mpro_fragalysis-04-01-24_curated"
params.fragalysisCache = "${params.dataPath}/mpro_fragalysis-04-01-24_curated_cache"
params.fixedFragalysisCache = "mpro_fragalysis-04-01-24_curated_cache_fixed"
params.fixedFragalysisCachePath = "${params.dataPath}/${params.fixedFragalysisCache}"
params.ligandFiles = "${params.dataPath}/ligand_files"
params.ligandFile3d = "combined_3d.sdf"
params.ligandFile2d = "combined_2d.sdf"
params.split3dligandFiles = "split_3d"
params.split2dligandFiles = "split_2d"
params.dockedFiles = "${params.dataPath}/docked_files"

// chemical similarity params
params.chemicalSimilarityData = "${params.dataPath}/chemical_similarity_data"
params.combinedChemicalSimilarityPath = "${params.chemicalSimilarityData}/combined_chemical_similarity_data.csv"
params.scaffoldDataName = "bemis_murcko_clustering"
params.genericScaffoldPath = "${params.chemicalSimilarityData}/${params.scaffoldDataName}/generic_cluster_labels.csv"
params.dateDictPath = "${params.dataPath}/cmpd_date_dict/date_dict.json"

