// core paths
params.repoPath = "/data1/choderaj/paynea/asapdiscovery-sars-retrospective/"
params.projectDir = "${params.repoPath}/science/20250604_p_and_x_full_cross_dock_v2"
params.workflowPath = "${params.projectDir}/nextflow_workflows/04_docking_analysis"
params.scripts = "${params.workflowPath}/scripts"
params.combinedDockingResultsName = "combined_docking_results"
params.dataPath = "/data1/choderaj/paynea/asap-datasets/full_cross_dock_v2"
params.combinedDockingResultsPath = "${params.dataPath}/${params.combinedDockingResultsName}"

// docking results files
params.posit_parquet = "${params.dataPath}/all_sim_poses.parquet"

// settings files
params.configFiles = "${params.projectDir}/config_files"
params.evaluator_configs = "${params.configFiles}/evaluator_configs"

// evaluation params
params.evaluationResults = "${params.dataPath}/analyzed_results"
params.datesplitPositResults = "${params.evaluationResults}/datesplit_posit_combined_results.csv"

// figure params
params.figuresPath = "${params.dataPath}/figures"